@model IEnumerable<BusinessObject.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>List Catagories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                <a href="#" onclick="confirmDelete(@item.CategoryId)">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function confirmDelete(categoryId) {
        const confirmAction = confirm("Are you sure you want to delete this item? This will also delete related products if any.");
        if (confirmAction) {
            // Nếu người dùng xác nhận, chuyển hướng đến hành động Delete
            window.location.href = '@Url.Action("Delete", "Categories")/' + categoryId;
        }
    }
</script>
